
.btn-ancho{
  width: 50%;
  
}

.ltr-tamano{
  text-align: center;
  color: black;
}


.card{
  flex: 10 100px;
  padding: 20px 40px 20px 20px;
  margin-right: 50px;
  height: 100%;
  max-width: 500px;
  min-width: 210px;
}

.t{
  width: 100%;
  margin-right: 1000px;
}

.btn-reserva{
  width: 100%;
  height: 40px;
}

.ajuste{
  display: flex;
  align-items: left;
}

address{
  text-align: center;
  position: relative;
}

.alea{
  margin-top: 30px;
}

.btn-tam{
  padding-right: 10px;
}

footer{
  background-color: green;
  width: 100%;
  height: 200px;
  color: white;
  position: absolute;
  left: 0;
  margin-top: 100px;
}
html{
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

.card-subtitle{
  margin-top: 10px;
}

.tdd{
  margin-left: 20px;
  font-size: 15px;
}





