// Definimos los colores
// Este es un archivo SASS, las variables se definen con $
$yellow: #ffab43;
$red: #fb3b43;
$green: #badb43;

 //LO QUE HACE ES DEFINIR colores para añadir con etiquetas
 //a nuestro proyecto, por ejemplo podemos tomar las funciones
 // que ya habiamos hecho en css.css y entonces debemos cambiar
 //el link que hay en el index.html que referencia a css.css
 //por uno que referencie a styles.css

 //Tambien podemos definir mixin (funciones)
@mixin margenes($top, $paddin, $color) { //puedo añadir mas variables como $top dentro de ()
    margin-top: $top;
    padding: $paddin;
    color: $color;
}

 //PARA ESTE EJEMPLO
 //Vamos a cambiar solo el color de la funcion del jumbotrom
//Como vemos a continuacion, es solo cambiar la etiqueta ya definida
//Colocandola en el background color.

 .jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(20px, 100%, $red);
  }
  //Despues se debe ejecutar el compilar SASS para que cree el archivo styles.css
  //npm run scss
  //Si nos vamos al styles.css creado, vemos que la etiqueta se
  //reemplaza por nuestra etiqueta creada

  