// Definimos los colores
// Este es un archivo LESS, las variables se definen con @
@yellow: #ffab43;

.margenes(@top) { //puedo añadir mas variables como $top dentro de ()
    margin-top: @top;
}


 .jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(20px);
  }